connexion[swagger-ui]==2.14.2
flask[async]==2.2.5
flask-cors==6.0.0
gunicorn==21.2.0
pandas==2.3.2
parmap>=1.7.0
patool>=1.12
psycopg2-binary==2.9.10
python_dateutil>=2.6.0
pytz>=2021.3
pyunpack>=0.3
setuptools>=21.0.0
slack-sdk==3.22.0
tqdm==4.67.1
tzlocal>=4.1
werkzeug==3.1.3
