connexion[swagger-ui] >= 2.6.0; python_version>="3.6"
flask-swagger-ui >= 3.36.0
python_dateutil >= 2.6.0
pytz >= 2021.3
psycopg2 >= 2.9.3
setuptools >= 21.0.0
swagger-ui-bundle == 0.0.9
tzlocal >= 4.1
werkzeug == 2.0.3
Flask == 2.0.3
